@import '../../scss/vars';
.auth {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 30px;
  &__logo {
    margin: 0 auto;
    width: calc((100vw - 480px) / (1280 - 480) * (100 - 44) + 44px);
  }
  &__title {
    color: $head-clr;
    margin: 5px auto 5px;
  }
  &__forinput {
    margin: 10px auto;
    width: 80%;
    color: red;
    div {
      text-align: start;
      margin-left: 10px;
      margin-top: 5px;
    }
  }
  &__text {
    font-weight: 400;
    font-size: calc((100vw - 480px) / (1280 - 480) * (16 - 10) + 10px);
    margin: $mh-auto;
    color: #cecece;
  }
  &__link {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
    color: $button-clr;
  }
  &__button {
    margin: 10px auto 0;
    width: 80%;
  }
}
@media (min-height: 750px) {
  .container {
    margin-top: 70%;
  }
}
@media (min-height: 600px) {
  .auth {
  }
}
@media (min-height: 700px) {
  .auth {
  }
}
@media (min-width: 1000px) {
  .auth {
    padding: 35px;
    &__title {
      color: $head-clr;
      margin: 10px auto 10px;
    }
  }
}
@media (min-width: 600px) {
  @media (min-width: 600px) {
    .auth {
      margin: 0 100px;
    }
  }
}
@media (min-width: 900px) {
  @media (min-width: 900px) {
    .auth {
      margin: 0 200px;
      &__title {
        color: $head-clr;
        margin: 15px auto 15px;
      }
    }
  }
}
@media (min-width: 1300px) {
  @media (min-width: 1300px) {
    .auth {
      margin: 0 400px;
      &__title {
        color: $head-clr;
        margin: 15px auto 15px;
      }
    }
  }
}
