@import '../../scss/vars';
.content__placeholder {
  padding: 30px 40px;
  transform-origin: top center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: column;
}
.accordion {
  &__content_list {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: calc((100vw - 480px) / (1280 - 480) * (30 - 15) + 15px);
    &_text {
      width: 100%;
      margin-right: 10px;
    }
  }
  &__content_rez {
    border-radius: 20px;
    text-align: center;
    background-color: #fff;
    color: #78c6ff;
    // border-radius: 20px;
    padding: 6px 23px 6px 23px;
    transition: all ease 0.2s;
    &:hover {
      box-shadow: 0px 0px 10px rgba(0, 161, 230, 0.3);
    }
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}
