@import '../../scss/vars';

input {
  background-color: $input-clr;
  width: 25vh;
  color: #939393;
  border-radius: 10px;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0);
  font-weight: 400;
  font-size: 12px;

  transition: all 1s;
  &:focus,
  :focus-visible {
    color: #000;
    background-color: #fff;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    outline: -webkit-focus-ring-color auto 0px !important;
  }
}
button {
  background-color: $button-clr;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  transition: 0.5s;
  border: 1px solid rgba($color: #000, $alpha: 0);
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: transparent;
    border: 1px solid $button-clr;
    color: $button-clr;
  }
}

// Добавлять только при условие что значение в input верное
.input_true {
  background-color: transparent;

  color: $button-clr;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    right: 10px;
    bottom: 0;
    margin: 12px 0;
    top: 0;
    width: 12px;
    height: 10px;
    background: url('../../assets/img/checkTrue.svg') no-repeat;
    background-size: cover;
  }
}
.input_false {
  background-color: transparent;

  color: $button-clr;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    right: 10px;
    bottom: 0;
    margin: 12px 0;
    top: 0;
    width: 12px;
    height: 12px;
    background: url('../../assets/img/checkFalse.svg') no-repeat;
    background-size: cover;
  }
}

.auth {
  box-shadow: 10px 10px 20px rgb(0 0 0 / 10%);
  justify-content: center;
  text-align: center;
  margin: 100px;
  padding: 20px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  &__forinput {
    margin: 4px;
    font-size: 10px;
    color: red;
    div {
      text-align: start;
      margin-left: 10px;
      margin-top: 5px;
    }
  }
  &__logo {
    margin-bottom: 10px;
  }
  &__title {
    color: $head-clr;
    margin: 0;
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    transition: 0.5s all;
  }
  &__input {
    color: #939393;
  }
  &__for-input {
    margin-top: 10px;
  }
  &__button {
    margin-top: 6px;
  }
  &__text {
    font-weight: 400;
    font-size: 10px;
    color: #cecece;
  }
  &__link {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
    font-size: 10px;
    color: #a4a4a4;
  }
}
