@import './vars';
@import './libs/normalize';

.header {
  margin-top: 30px;
  background-color: #fff;
  width: 100%;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  &__button {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin: 10px 0 10px auto;
    float: right;
    font-weight: 400;
    padding: 5px 20px;
    border-radius: 50px;
    background-color: $button-clr;
    font-size: calc((100vw - 480px) / (1280 - 480) * (20 - 14) + 14px);
    svg {
      width: calc((100vw - 480px) / (1280 - 480) * (16 - 10) + 10px);
      margin-left: 9px;
      margin-top: 2px;
    }
  }
  &__logo {
    cursor: pointer;
    line-height: 1.2;
    display: flex;
    align-items: center;
    img {
      width: calc((100vw - 480px) / (1280 - 480) * (60 - 44) + 44px);
    }
  }
  &__title {
    margin-left: 10px;
    color: $head-clr;
    font-weight: 700;
    font-size: calc((100vw - 480px) / (1280 - 480) * (30 - 20) + 20px);
  }
}
.main {
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
}
@media (min-width: 500px) {
  .header {
    padding: 5px 30px;
  }
}
@media (min-width: 1000px) {
  .header {
    padding: 5px 50px;
  }
}
.track {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(4, 80px);
  margin: 30px 0;
  padding: 30px;
  background-color: #fff;
  border-radius: 30px;
}
.box {
  padding: 20px;
  border-radius: 30px;
  color: $stnd-clr;
  font-size: calc((100vw - 480px) / (1280 - 480) * (30 - 15) + 15px);
  font-weight: 800;
  line-height: 1.2em;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(57, 57, 57, 0.1);
}
.box1 {
  padding: 20px 40px;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 5;
  font-size: calc((100vw - 480px) / (1280 - 480) * (40 - 15) + 15px);
  .box__fio {
  }
}
.box2 {
  grid-column-start: 8;
  grid-column-end: 15;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-content: start;
  padding: 20px;
}
.box3 {
  grid-column-start: 8;
  grid-column-end: 23;
  grid-row-start: 1;
  grid-row-end: 3;
}
.box4 {
  grid-column-start: 8;
  grid-column-end: 16;
  grid-row-start: 3;
  grid-row-end: 5;
}
.box5 {
  align-items: center;
  grid-column-start: 16;
  grid-column-end: 23;
  grid-row-start: 3;
  grid-row-end: 5;
}
.box__title {
  font-size: calc((100vw - 480px) / (1280 - 480) * (35 - 15) + 15px);
  color: $button-clr;
  margin-bottom: 10px;
}
