@import './vars';
@import './libs/normalize';

.header {
  background-color: #fff;
  width: 100%;

  &__logo {
    cursor: pointer;
    line-height: 1.2;
    display: flex;
    align-items: center;
    img {
      width: calc((100vw - 480px) / (1280 - 480) * (60 - 44) + 44px);
    }
  }
  &__title {
    margin-left: 10px;
    color: $head-clr;
    font-weight: 700;
    font-size: calc((100vw - 480px) / (1280 - 480) * (30 - 20) + 20px);
  }
}
@media (min-width: 500px) {
  .header {
    padding: 5px 30px;
  }
}
@media (min-width: 1000px) {
  .header {
    padding: 5px 50px;
  }
}

.buttons__user {
  display: flex;
  justify-content: space-between;
}

.tiles {
  display: flex;
}

@media (max-width: 760px) {
  .tiles {
    flex-direction: column;
  }
}
