@import './vars';
@import './libs/normalize';

table {
  //border: 1px solid #000;
  color: #fff;
  border-radius: 20px;
  width: 100%;
  height: 80px;
  border-collapse: collapse;
  border-radius: 20px;
}

th {
  color: #000;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

td {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
}

tr {
  height: 40px;
  border-radius: 20px;
  text-align: center;
}

.btn_cell {
  padding: 0 !important;
}

.backgroud_table {
  background-color: #60b0ea;
}

.backgroud_table2 {
  background-color: #93cef9;
}

.table {
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;

  th {
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #1374d1;
    font-weight: 500;
    color: #fff;
    text-shadow: 1px 1px 10px #00000012;

    span {
      color: inherit;
    }
  }

  td {
    text-shadow: 1px 1px 10px #00000012;
    font-weight: 500;
    padding: 8px;
    border: 1px solid #ddd;
  }
}

.table .rt-tbody .rt-tr-group:last-child .rt-tr {
  border-bottom: none;
}

.table .rt-tbody .rt-tr-group:last-child .rt-td {
  border-bottom: none;
}
